.description {
    margin-top: 1%;
    margin-left: 1.5%;
}


.my-courses{
    display: grid;
    grid-template-columns: 100px 100px 100px;
}

.paragraph{
    font-size: 1.2em;
    /* margin-left: 1.5% */
}

.label{
    font-weight: bold;

}

.title{
    font-size: 2em;
    margin-bottom: 1px;
    color:#0056d2;
    font-weight: bold;
    /* margin-left: 2%; */
}

.form-container{
    /* border: black solid; */
    display: flex;
    flex-wrap: wrap;
}

.add-course{
    flex-grow: 2;
    margin: 0 1%;
    border: gray solid 1px;
    border-radius: 15px;
}




.added-courses{
    background-color: rgb(216, 216, 216);
    border-radius: 5%;
    flex-grow: 1;
    margin-right:1.5%
}

.bootstrap-form{
    margin: 2%;
}

.table-header{
    background-color: gray;
    color:white;
}

.table{
    width:100%;
    text-align: center;
    background-color: white;
    border-radius: 5px 5px 5px 5px;
}

.search-unis{
    float: right;
}
