body {
	background-color: #d6edf6;
	color: #212529;
	font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif,
		"Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}
.container {
	background-color: white;
	padding: 30px;
	border-radius: 15px;
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
	margin-top: 50px;
}
h2 {
	color: #212529;
	/* border-bottom: 3px solid #6c757d; */
	display: inline-block;
	padding-bottom: 5px;
	margin-bottom: 20px;
}
.form-group label {
	color: #212529;
	font-weight: bold;
}
.btn-primary {
	background-color: #0d6efd;
	transition: background-color 0.3s ease;
	color: #fff;
	width: 100%;
}
.btn-primary:hover {
	cursor: pointer;
	border-color: #ffff;
	color: #fff;
}
.btn-secondary {
	background-color: #6c757d;
	border-color: #6c757d;
	transition: background-color 0.3s ease;
}
.btn-secondary:hover {
	background-color: #5a6268;
	border-color: #545b62;
}
.img-fluid {
	border: 1px solid #dee2e6;
	padding: 5px;
	border-radius: 8px;
	margin-top: 10px;
	width: 100%;
	height: auto;
}
.form-control,
.form-control-file {
	background-color: rgba(255, 255, 255, 0.8);
	color: #000;
}
.select2-container--default .select2-selection--single .select2-selection__rendered {
	color: #000;
	width: 100%;
}
.select2-container--default .select2-results__option .select2-selection__rendered {
	color: #000;
	width: 100%;
}
#fileInput:hover {
	cursor: pointer;
}
.or-divider {
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	margin: 0 20px;
}
.or-divider::before {
	content: "";
	flex: 1;
	border-left: 1px solid #000;
	margin-bottom: 10px;
}
.or-divider::after {
	content: "";
	flex: 1;
	border-left: 1px solid #000;
	margin-top: 10px;
}
.or-divider span {
	color: #000;
	padding: 0 5px;
}
.col-md-5 {
	border: 2px solid #ccc;
	border-radius: 10px;
	padding: 20px;
}
