{% extends "ntn_app/base.html" %}

{% load static %}

{% block body %}
<link rel="stylesheet" type="text/css" href="{% static 'ntn_app/css/add_course.css' %}">
    <div class="container">
        <div class="description">
            <p class="title">Course Registration</p>
            <p class="paragraph">Do you want to see which 4-year universities will accept your courses? Just enter your course details and find your perfect match!</p>
        </div>
        <div class="form-container">
            <div class="add-course">



                <form class="bootstrap-form">

                    <div class="mb-3">
                      <label for="exampleInputEmail1" class="form-label">Name of institution you attend</label>
                      <select class="form-select" aria-label="Default select example">
                        <option selected>Select an institution</option>
                        <option value="1">West Virginia University</option>
                        <option value="2">Florida University</option>
                        <option value="2">Ivy Tech</option>
                        <option value="3">Miami Dade College</option>
                      </select>
                    </div>

                    <div class="mb-3">
                        <label for="inputPassword" class="form-label">Preferred university location</label>
                        <div class>
                          <input type="text" class="form-control">
                        </div>
                    </div>

                    <div class="mb-3">
                        <label for="exampleInputEmail1" class="form-label">Term</label>
                        <select class="form-select" aria-label="Default select example">
                          <option selected>Select a term</option>
                          <option value="1">Summer 2024</option>
                          <option value="2">Fall 2025</option>
                          <option value="2">Winter 2024</option>
                          <option value="2">Spring 2025</option>
                          <option value="2">Summer 2025</option>


                        </select>
                      </div>


                      <div class="mb-3">
                        <label for="inputPassword" class="form-label">Course Name or ID</label>
                        <div class>
                          <input type="text" class="form-control">
                        </div>
                      </div>

                    <button type="submit" class="btn btn-secondary">Add</button>
                  
                </form>




                
            </div>
            <div class="added-courses">2</div>
        </div>
    </div>
{% endblock %}